<footer class="footer">
    <div class="container">
      <div class="footer">
        <div class="content">

          <p><%= link_to image_tag("logo.png", width: "70", class: "logo"), "http://www.diligentagility.com" %> <span class="ftext"> <span class="dagreen">diligent</span><span class="dablue">agility</span><small class="copyright"> - timludi - Copyright &copy; 2010 - 2015</small></span></p>

        </div>
      </div>
    </div>
</footer>